@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,400;1,900&display=swap");
:root {
  --primary: #F0C6B3;
  --secondary: #9E616A;
  --tertriary:#c9858f;
  --text: #ffffff;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.section-header {
  background-color: var(--primary);
  padding-top: 1rem;
}
.section-header .logo-image-out {
  display: none;
  width: 60px;
  height: 60px;
}
.section-header .logo-image-out img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.section-header svg {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}
.section-header svg path {
  stroke: var(--text);
}
.section-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  transition: all 0.2s ease;
}
.section-header nav .logo-image {
  width: 80px;
  height: 80px;
}
.section-header nav .logo-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.section-header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  cursor: pointer;
  gap: 2rem;
}
.section-header nav ul li {
  padding: 0;
}
.section-header nav ul li a {
  color: var(--text);
  text-decoration: none;
  display: block;
}
.section-header .hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288.5px, 1fr));
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  color: var(--text);
}
.section-header .hero .hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section-header .hero .hero-text {
  text-align: right;
}
.section-header .hero .hero-text h1 {
  font-size: 5vw;
}
.section-header .hero .hero-text a {
  color: var(--text);
  text-decoration: none;
}
.section-header .hero .hero-text a button {
  color: var(--text);
  background-color: var(--secondary);
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.section-header .hero .hero-text a button:hover {
  background-color: #c9858f;
}
.section-header .hero .hero-text a button:active {
  background-color: var(--secondary);
}

.section-event {
  background-color: var(--secondary);
  padding-bottom: 5rem;
}
.section-event h1 {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 3rem;
  color: var(--text);
  border-bottom: solid 2px var(--text);
  margin-bottom: 5rem;
}
.section-event .card-holder {
  margin: 0 auto;
  max-width: 50rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  gap: 10rem;
}
.section-event .card-holder .card {
  max-width: 16rem;
  border-radius: 15px;
  background-color: var(--text);
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.section-event .card-holder .card .image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-event .card-holder .card .info {
  padding: 1rem;
}
.section-event .card-holder .card .info p {
  line-height: 1rem;
  margin: 1rem 0;
}
.section-event .card-holder .card .info button {
  color: var(--text);
  background-color: var(--secondary);
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.section-event .card-holder .card .info button:hover {
  background-color: #c9858f;
}
.section-event .card-holder .card .info button:active {
  background-color: var(--secondary);
}

.section-about {
  background: linear-gradient(to top, #FCDACA, var(--primary));
}
.section-about h1 {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 3rem;
  color: var(--secondary);
  border-bottom: solid 5px var(--secondary);
  margin-bottom: 1rem;
}
.section-about .bottom-exp {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
}
.section-about .info {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.section-about .info P {
  max-width: 40rem;
}
.section-about .subscription-form {
  max-width: 30rem;
  margin: 0 auto;
  display: flex;
}
.section-about .subscription-form input {
  width: 100%;
  height: 2.5rem;
  margin-right: -1px;
  border: none;
  padding-left: 1rem;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.section-about .subscription-form input:focus {
  outline: none;
}
.section-about .subscription-form button {
  height: 2.5rem;
  width: 7rem;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--secondary);
  color: var(--text);
  cursor: pointer;
  transition: all 0.1s ease;
}
.section-about .subscription-form button:hover {
  background-color: #c9858f;
}
.section-about .subscription-form button:active {
  background-color: var(--secondary);
}
.section-about .personal-info {
  max-width: 35rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 5rem;
  gap: 1rem;
}
.section-about .personal-info .bundle .contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-about .personal-info .bundle .contact p {
  border-bottom: 1px solid black;
}

footer {
  background-color: var(--primary);
}
footer .footer-bundle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  flex-wrap: wrap;
  gap: 1rem;
}
footer .footer-bundle .img-bundle {
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .footer-bundle .img-bundle img {
  height: 100px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer-bundle .social-media-bundle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
footer .footer-bundle .social-media-bundle .social-media {
  display: flex;
  gap: 0.5rem;
}
footer .copy-right {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.5rem;
}

@media (min-width: 1600px) {
  .section-header, .section-about, .footer {
    padding: 0 10rem;
    padding-top: 1rem;
  }
}
@media (max-width: 1599px) {
  .section-header, .section-about, .footer {
    padding: 0 6rem;
    padding-top: 1rem;
  }
}
@media (max-width: 1199px) {
  .section-header, .section-about, .footer {
    padding: 0 5rem;
    padding-top: 1rem;
  }
}
@media (max-width: 991px) {
  .section-header, .section-about, .footer {
    padding: 0 3rem;
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
  .section-header, .section-about, .footer {
    padding: 0 2rem;
    padding-top: 1rem;
  }
}
@media (max-width: 625px) {
  .section-header {
    padding: 0 1.5rem;
    padding-top: 1rem;
  }
  .section-header .logo-image-out {
    display: block;
  }
  .section-header svg {
    display: block;
    z-index: 2;
  }
  .section-header nav {
    background-color: var(--secondary);
    display: block;
    height: 100vh;
    width: 40%;
    position: fixed;
    top: 0;
    right: 0;
  }
  .section-header nav .logo-image {
    display: none;
  }
  .section-header nav ul {
    padding-top: 70%;
    flex-direction: column;
    align-items: center;
  }
  .section-header nav ul li {
    width: 100%;
    text-align: center;
    transition: all 0.1s ease;
  }
  .section-header nav ul li a {
    padding: 1rem;
  }
  .section-header nav ul li:hover {
    background-color: var(--tertriary);
  }
  .hero .hero-image {
    margin-left: 3.5rem;
  }
  .hero .hero-text h1 {
    text-align: center;
    font-size: 10rem;
  }
  .hero .hero-text a {
    color: var(--text);
    text-decoration: none;
  }
  .hero .hero-text a button {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .section-about {
    padding: 0 1rem;
    padding-top: 1rem;
  }
  .hidden {
    transform: translateX(100%);
  }
}/*# sourceMappingURL=style.css.map */